*.o
*.so
*.la
*.lo
*.diff
Makefile
Makefile.*
/shall
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/install_manifest.txt
/lexers/*.c
/bindings/php/.deps
/bindings/php/.libs/
/bindings/php/acinclude.m4
/bindings/php/aclocal.m4
/bindings/php/autom4te.cache/
/bindings/php/build/
/bindings/php/config.guess
/bindings/php/config.h
/bindings/php/config.h.in
/bindings/php/config.h.in~
/bindings/php/config.log
/bindings/php/config.nice
/bindings/php/config.status
/bindings/php/config.sub
/bindings/php/configure
/bindings/php/configure.in
/bindings/php/install-sh
/bindings/php/libtool
/bindings/php/ltmain.sh
/bindings/php/missing
/bindings/php/mkinstalldirs
/bindings/php/run-tests.php
/bindings/ruby/*.gem
/bindings/ruby/Gemfile.lock
/bindings/ruby/tmp/
